.contato {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  min-height: 80vh;
}

.contato .image {
  max-width: 350px;
}

.contato .image img {
  border-radius: 1rem;
}

.contato .content {
  margin-top: 1rem;
}

.lista {
  list-style: none;
}

.lista li {
  font-size: 1.25rem;
  margin-top: 0.8rem;
}

.lista li::before {
  content: '';
  width: 15px;
  height: 2px;
  background-color: #ddd;
  display: inline-block;
  margin-right: 10px;
}
